<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous" version="0.53.0" targetFramework="xamarinios10" />
  <package id="Fabulous.LiveUpdate" version="0.53.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms" version="0.53.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms.LiveUpdate" version="0.53.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms.Maps" version="0.53.0" targetFramework="xamarinios10" />
  <package id="FSharp.Core" version="4.7.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.6.292" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.13" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="4.0.1.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.5.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.5.0.617" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Maps" version="4.5.0.356" targetFramework="xamarinios10" />
</packages>