<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.5.2" targetFramework="monoandroid81" />
  <package id="Newtonsoft.Json" version="11.0.2" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.5" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.core" version="1.1.5" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.5" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.5" targetFramework="monoandroid90" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0.1" />
  <package id="Xamarin.Android.Arch.Core.Runtime" version="1.0.0.1" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.3.1" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.3.1" />
  <package id="Xamarin.Android.FSharp.ResourceProvider" version="1.0.0.25" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.Core.UI" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.Core.Utils" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.CustomTabs" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.Design" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.Fragment" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.Media.Compat" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.Transition" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.v4" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.v7.CardView" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.v7.Palette" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="27.0.2.1" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="27.0.2.1" />
  <package id="Xamarin.Build.Download" version="0.4.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Essentials" version="0.8.0-preview" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms" version="3.1.0.637273" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms.Maps" version="3.1.0.637273" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Base" version="42.1021.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Basement" version="42.1021.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Maps" version="42.1021.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="42.1021.1" targetFramework="monoandroid90" />
</packages>