<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Xamarin.Forms" version="3.0.0.482510"  />

    <package id="Xamarin.Essentials" version="0.6.0-preview"  />
    <package id="FSharp.Core" version="4.5.0"  />
    <package id="FsPickler" version="5.2"  />
    <package id="FsPickler.Json" version="5.2"  />
    <package id="Elmish.XamarinForms" version="0.14.4"  />
    <package id="Newtonsoft.Json" version="11.0.2"  />
</packages>